<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net45" />
  <package id="Glimpse.AspNetCache" version="0.9.9.35094" targetFramework="net45" />
  <package id="Glimpse.Elmah" version="1.1.1" targetFramework="net45" />
  <package id="Glimpse.Log4Net" version="1.0.0" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net45" />
  <package id="Glimpse.Performance" version="1.0.0.3" targetFramework="net45" />
  <package id="Glimpse.Sitecore7" version="2.0.0" targetFramework="net45" />
  <package id="Kamsar.WebConsole" version="1.2.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="PostSharp" version="3.0.31" targetFramework="net45" />
  <package id="Unicorn" version="2.0.4" targetFramework="net45" />
</packages>